// Initial Variables
$orange: orange;

// Derived Variables
$primary: $orange;

@use "bulma/sass" with (
  $primary: $primary,
);

main {
  min-height: calc(100vh - 19.75em);
}

.border-offset {
  position: relative;
  display: inline-block;
}

.border-offset::after {
  content: "";
  position: absolute;
  top: 20px;
  left: 20px;
  right: -30px;
  bottom: -25px;
  border: 10px solid $primary;
  pointer-events: none;
}

.game-card .card-content {
  height: 9em;
}